extends layout

block content

	section#about-hero
		.container
			.row
				.col-md-12.text-center.white-text
					header.hero-heading
						h1.main-heading About Smashtech
						h2.sub-heading We believe that it’s possible to make something out of nothing.
				// end col 12
			// end row
		// end container
	// end about header
	section#what-we-do
		.container
			#smash-story.row.content-padding
				.col-xs-12.col-sm-12.col-md-12.col-lg-12
					h2.sub-heading.text-center Our founders’ story
					p
						| From humble beginnings come great things. At Smashtech, we believe that it’s possible to make something out of nothing, because our founders have done just that.
					p
						| In 2015, the history of Smashtech began. Two brothers who once faced homelessness turned the odds in their favor by believing in a great idea and relentlessly working towards success. They started operations from a makeshift apartment office, grew from a team of two to a small team of talented people, and kept going. The rest, as they say, is history.
					p
						| Today, Smashtech has become one of the fastest growing companies in CA and it has been fully self-funded the entire way. With their dynamic team of innovative, driven, and creative individuals by their side, the founders look ahead, never forgetting where they started.
				// end col 8
			// end row
			.row.content-padding
				.col-md-12
					h2.sub-heading.text-center What we do
				// end col 12
				.col-xs-12.col-sm-4.col-md-4.col-lg-4.text-center
					i.fa.fa-shopping-bag.fa-4x(aria-hidden='true')
					h3.content-sub-heading.text-center Consumer-focused marketing.
					p.text-center
						| Our marketing strategies focus on the consumer, and it pays off. We provide real value, foster relationships, and put consumer needs first.
				// end col 4
				.col-xs-12.col-sm-4.col-md-4.col-lg-4.text-center
					i.fa.fa-bar-chart.fa-4x(aria-hidden='true')
					h3.content-sub-heading Data-driven insights.
					p.text-center
						| We get real-world insights through data. We connect analytics to actions and continuously experiment, learn, and optimize.
				// end col 4
				.col-xs-12.col-sm-4.col-md-4.col-lg-4.text-center
					i.fa.fa-user-circle.fa-4x(aria-hidden='true')
					h2.content-sub-heading User-centered design.
					p.text-center
						| Our products are innovative, practical, and designed with the user in mind. We believe that achieving a better quality of life can be a seamless and delightful experience.
				// end col 4
			// end row
		// end container
	// end section
	section.callout-content-padding.black-bg
		.container
			.row
				.col-md-12
					header.hero-heading.text-center.white-text
						h1.main-heading 2016 Best Places to Work
						h2.sub-heading(style='margin-bottom: 0;') San Diego Business Journal
				// end col 12
			// end row
		// end container
	section.smash-collage
		.container-fluid
			.row.no-gutters
				.col-xs-12.col-sm-12.col-md-6.col-lg-6
					img.img-responsive(src=pugDomainUrl + '/images/media_team_1275.jpg')
				// end col 6
				.col-xs-12.col-sm-12.col-md-6.col-lg-6
					img.img-responsive(src=pugDomainUrl + '/images/creative_team_1275.jpg')
				// end col 6
			// end row
		// end fluid
	// end section
	section.callout-content-padding.black-bg
		.container
			.row
				.col-md-12
					header.hero-heading.text-center.white-text
						h1.main-heading Top rated places to work 2016-17
						h2.sub-heading(style='margin-bottom: 0;') Glassdoor
				// end col 12
			// end row
		// end container
	section.smash-collage
		.container-fluid
			.row.no-gutters
				.col-xs-12.col-sm-12.col-md-6.col-lg-6
					img.img-responsive(src=pugDomainUrl + '/images/cx_team_1275.jpg')
				// end col 6
				.col-xs-12.col-sm-12.col-md-6.col-lg-6
					img.img-responsive(src=pugDomainUrl + '/images/dev_team_1275.jpg')
				// end col 6
			// end row
		// end fluid
	// end section
